/*  your css code here. If applicable */
table {
    background-color: yellow;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

th, tr, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}